* {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* MOBILE */
#grid-area {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo logo logo"
 "menu menu menu"
 "main main main"
 "footer footer footer";
}

header {
  text-align: center;
  gap: 10px;
  background-color: black;
  /* background: #21515b; */
  /* background: -webkit-gradient(linear, left bottom, left top, color-stop(51%, #21515b), to(black));
  background: linear-gradient(360deg, #21515b 51%, black 100%); */
  margin-top: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logo;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.elcultivo1 {
  color: #e2e2ae;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.elcultivo2 {
  width: auto;
  height: 40%;
  color: #e2e2ae;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.nav {
  grid-row: 2;
  grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  /* background: #21515b; */
  background: black;
  margin-top: 0;
  height: auto;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul {
  list-style: none;
  text-align: center;
}

.nav ul li {
  padding: 10px;
}

.nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin: 0 10px; */
  padding: 10px;
  /* border: 2px inset black;
  border-radius: 10px; */
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 1s;
  transition: all 1s;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


main {
  color: white;
  text-align: center;
  background-color: #8FCFC1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 100%;
  width: 100%;
  grid-row: 3;
  grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

footer {
  background-color: #e4ddb3;
  color: black;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
  grid-row: 4;
  grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

footer p {
  margin: 0px 0px 0px;
}

.titulos {
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

/* contacto */
.datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 15px;
}

.ubicacion {
  background-color: #8FCFC1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: auto;
}

/* carreras */
.grid-carreras {
  display: grid;
  display: grid;
  grid-column: 1fr 3;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.grid-carreras img {
  width: 100%;
}

.texto {
  font-family: 'Open Sans', sans-serif;
  
}

/* TABLET */
@media (min-width: 600px) {
  #grid-area {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo logo logo"
 "menu menu menu"
 "main main main"
 "footer footer footer";
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  nav ul li a {
    margin: 0 10px;
    padding: 10px;
    border: 2px inset black;
    border-radius: 10px;
    text-decoration: none;
    color: #e2e2ae;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  /* DESKTOP */
}

@media (min-width: 600px) and (min-width: 1020px) {
  #grid-area {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo menu menu"
 "main main main"
 "footer footer footer";
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
}

.nav-ul-li:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s;
}
/* .nav-ul-li a:hover {
  border: 2px outset white;
  background-color: #E5E5E5;
  color: black;
} */

.elcultivo1:hover {
    color: #e2e2ae;
}

.elcultivo2:hover {
    color: #e2e2ae;
}

.container {
        /* margin: auto; */
        width: 55%;
        height: auto;
        margin-top: 20px;
        /* padding: 40px; */
}
}
/*# sourceMappingURL=estilos.css.map */