header {
        text-align: center;
        gap: 10px;
        background: #21515b;
        margin-top: 0;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 100%;
        grid-area: logo;
        div {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
        }
}
