$minTablet: 600px;
$minDesktop: 1020px;

$colorHeader: #21515b;
$colorMain: #8FCFC1;
$colorFooter: #e2e2ae;

$borderPrincipal: 2px solid black;
$letra: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$estilos: (
  centro: center,
  izquierda: left,
  flex: flex,
);




